
h1{
    color: #e91e63;
    font-family: 'Ubuntu', sans-serif !important;
}

.city-form{
    display: flex;
    flex-direction: column;
}

.city-form div:last-child{
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,th,td {
    border: 2px solid white;
}

th{
    background-color: #c2185b;
}

th,td{
    padding: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
}


.section-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-form{
    margin-top: 5rem;
}

input{
    color: white;
}