
.example-spacer {
    flex: 1 1 auto;
}

div:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div:nth-child(2) h1{
    color: #e91e63;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif !important;
}

span{
    font-family: 'Ubuntu', sans-serif !important;
}